body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

.branding {
  padding: 80px;
  background-image: url('../img/people_congress.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.container {
  padding-right: 65px;
  padding-left: 65px;
  margin-right: auto;
  margin-left: auto;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -40px;
}

.nav-section > ul {
  display: flex;
}

.nav-section > ul > li {
  list-style: none;
  padding-right: 30px;
}

.btn-donate {
  padding: 10px;
  border-radius: 7px;
  color: white;
  border-style: none;
}

.btn-top {
  margin-top: -10px;
}

.discover-dropDown {
  font-weight: 500;
  text-emphasis: none;
}

.discover-unstyled {
  color: #ffffff;
}

.txt-background > p {
  padding: 10px 0;
}

.green-color {
  background-color: #69d380;
}

.black-color {
  background-color: #000000;
}

.note {
  position: relative;
  bottom: -70px;
}

.container-fluid {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 80px;
  margin-left: 10%;
  margin-right: 10%;
}

.container-wide {
  padding-top: 30px;
  padding-bottom: 90px;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  background-color: #fbf8f6;
}

.section-text {
  width: 300px;
  text-align: justify;
}

.slider {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  position: absolute;
  top: 50%;
  width: 80%;
}

a {
  text-decoration: none;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #4caf50;
  color: white;
}

.round {
  border-radius: 50%;
}

footer {
  padding: 80px;
  background-color: #c4c4c4;
  margin-top: 100px;
}

.fb-tw-ins-in {
  display: flex;
  justify-content: center;
}

.fab {
  padding-right: 50px;
}

@media (max-width: 480px) {
}
